$white: rgb(255, 255, 255);
$light-blue: rgb(0, 137, 250);
$blue: rgb(38, 72, 154);
$dark-blue: rgb(44, 56, 70);
$dark-grayish-blue: rgb(33, 44, 54);
$blue-hover: rgb(44, 84, 177);
$light-gray: rgb(221, 221, 221);
$dark-gray: rgb(32, 32, 32);
$black: rgb(0, 0, 0);
